<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<title>Favrik{% if page.title %}: {{ page.title }}{% endif %}</title>
    <link rel="stylesheet" href="/css/f2.css" />
    {% if page.code_style %}<link href="/css/{{ page.code_style }}.css?{{site.time}}" rel="stylesheet" />{% endif %}
    {% if page.meta_keywords %}<meta name="keywords" content="{{ page.meta_keywords }}" />{% endif %}
    {% if page.meta_description %}<meta name="description" content="{{ page.meta_description }}" />{% endif %}
    <meta name="author" content="Favio Manriquez Leon" />
    
    {% if page.type == 'blog' %}
    <meta name="google-site-verification" content="X2ZzBfEZcBzsdkkbPU8--1gtF0d3QeeShiqWChC7F-w" />
    {% endif %}
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

</head>
<body>
<div class="page {% if page.location %}{{ page.location }}{% endif %}">
    <div class="header">
        <header>
            <div class="logo">
                {% if page.type == 'blog' %}
                <a href="http://blog.favrik.com/">blog</a> &nbsp; &nbsp; &nbsp; 
                {% endif %}
                <a href="http://favrik.com/">Favrik</a>
            </div>
        </header>
    </div>


    <div class="content line">
        {{ content }}
    </div>


    <footer>
        <div class="footer">
            <p>&copy; 2007-2011 Favio Manriquez Leon / <a href="http://favrik.com">FAVRIK</a> / v2</p>
        <div>
    </footer>

</div>


{% if page.type == 'blog' %}

<script type="text/javascript">
//<![CDATA[
(function() {
		var links = document.getElementsByTagName('a');
		var query = '?';
		for(var i = 0; i < links.length; i++) {
			if(links[i].href.indexOf('#disqus_thread') >= 0) {
				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
			}
		}
		document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/favrik/get_num_replies.js' + query + '"></' + 'script>');
	})();
//]]>
</script>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-556418-2");
    pageTracker._trackPageview();
    } catch(err) {}</script>
{% endif %}
    
{% if page.type == 'site' or page.type == 'page' %}
    <!-- yes, I want to know all about the bots visiting, hopefully, not only bots  -->
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-556418-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
{% endif %}
<script type="text/javascript" src="http://observer.no.de/deploy/observer.js#{observer:'4e66c2e41762c0033900a292'}"></script>
</body>
</html>
