---
layout: blog
---

<div class="unit size2of3 article">
    <article>
        <h1>{{ page.title }}<em>{{ post.categories }}</em></h1>

        <p class="date">Published on {{ page.date | date: "%A, %d %B  %Y"}}.</p>

        {{ content }}
    </article>
</div>

<div class="unit size1of3 lastUnit">

    <section>
        <div class="section">
            <h2>Comments</h2>
            <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/favrik/embed.js"></script><noscript><a href="http://favrik.disqus.com/?url=ref">View the discussion thread.</a></noscript>
            <p><a href="http://disqus.com">blog comments powered by <span class="logo-disqus" style="font-size: 100%">Disqus</span></a></p>
        </div>
    </section>


    <aside>
        <div class="aside section">
          <h2>Possibly related posts</h2>
          <ul class="">
            {% for post in site.related_posts limit:3 %}
              <li>{{ post.date | date_to_string }} &raquo;
          
              <a href="{{ post.id }}/">{{ post.title }}</a>
          
            <em> <a href="http://www.google.com/search?q={{ post.topics }}+site%3Ablog.favrik.com">{{ post.topics }}</a> </em>
            </li>
            {% endfor %}
          </ul>
        </div>
    </aside>
</div>

