.default-link {
  color: $creamy;
  text-decoration: none;
}

.container {
  @include outer-container(100%);
  @include pad(default 30px);
}

.horizontal-list {
  li { display: inline; }
}

.media {
  display: flex;
  align-items: flex-start;

  .media-figure {
    margin-right: 1em;
    @include border-top-radius(50px);
    @include border-bottom-radius(50px);
  }

  .media-body {
    flex: 1;
  }
}

