$visual-grid: true;
$blackish: #262626;
$light-grayish: #3d3737;
$grayish: #332e2e;
$redish: #c90000;
$cream: #FCFBE3;
$shiny-red: #e00;
$left-padding: 25px;
$creamy: #FFFEF5;
$phone: new-breakpoint(min-width 500px 4);
$tablet: new-breakpoint(min-width 1000px 4);
