@import "bourbon";
@import "neat";
@import "normalize";
@import "syntax";
@import "variables";
//@import "typography";
//@import "layout";
@import "extendable";

@include font-face(agilisregular, 'agilis-webfont', normal, $asset-pipeline: true);

ul {
  padding: 0;
  margin: 0;
}

h2, h3 {
  font-weight: normal;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.4;
  border-bottom: 1px solid $blackish;
  border-top: 1px solid $light-grayish;
  text-align: center;
  font-family: Georgia, serif;
}

h3 {
  font-size: 16px;
  a { @extend .default-link; color: #00f;}
}

body {
 font-size: 16px;
 font-family: agilisregular, serif;
 background: $blackish;
 color: $blackish;
 opacity: 0;
 @include transition(opacity .5s ease);
}

header {

  background: $blackish;
  @include outer-container(100%);

  .header-logo {
    @include span-columns(9);
    font-family: Georgia, serif;
    a {
      @extend .default-link;

      span {
        font-weight: normal;
        font-size: 32px;
        @include media($phone) {

        }
      }
    }

    @include pad(20px default 25px $left-padding);
    font-size: 48px;
    font-style: italic;
  }

  .header-options {
    @include pad(38px 15px 0 default);
    @include span-columns(3);
    text-align: right;
  }

  @include filter(drop-shadow(0 0px 6px $light-grayish));
}

nav {
  font-size: 24px;
  font-family: Georgia, serif;
  letter-spacing: 2px;

  li {
    background: $redish;
    border-bottom: 1px solid $shiny-red;

    a {
      @include pad(15px default default $left-padding);
      display: block;
      @extend .default-link;


    }

    a:hover {
        background: $shiny-red;
    }
  }

}

main {
  @include outer-container(100%);

  background: $creamy;

  section {
    @include pad(default 30px);
  }
}

footer {
  @extend .container;
  padding-top: 30px;
  padding-bottom: 20px;
  background: $grayish;
  color: $creamy;

  ul {
    text-align: center;
    @extend .horizontal-list;
  }

  li {
    padding: 8px;
    text-align: center;
  }

  a { @extend .default-link }

  p {
    margin: 20px 0;
    text-align: center;
  }
}

.icon {
  width: 45px;
  height: 29px;
  fill: $creamy;
}

.post-date {
  font-style: italic;
  display: block;
  &:before { content: '— ' };
}

.hero {
  @include radial-gradient($grayish, $light-grayish);
  color: $creamy;
  display: none;
}
