RewriteEngine on

RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L] 

RewriteCond %{HTTP_HOST} ^blog.favrik.com$
RewriteRule ^(.*)$ http://favrik.com/blog/$1 [R=301,L]

Redirect 301 /projects/yu/ http://favrik.com/projects/yuplay/
