/* ----------------------------------------------------------------------------
   Reset CSS 
   From http://meyerweb.com/eric/tools/css/reset/
 */
html, body, div, span, applet, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img, small, strike, strong, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:             0;
    padding:            0;
    border:             0;
    outline:            0;
    font-size:          100%;
    background:         transparent;
    vertical-align:     baseline;
}

:focus {
    outline:            0;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse:    collapse;
    border-spacing:     0;
}


/* ----------------------------------------------------------------------------
   Elements styles
   1px = .0625em
   1em = 16px

   base line-height: 18px == 1.125em
 */
body {
    font-family:        arial, sans-serif;
    line-height:        1.125em;
    /* background:         url(grid.png); */
}

html > body {
    font-size: 16px;
}

a {
    color:              #00f;
    text-decoration:    underline;
}

a:hover {
    color:              #1A4DFF;
}

a:active {
    color:              #f00;
}

a:visited {
    color:              purple;
}

h1, h2 {
    font-family:        Georgia, serif;
    font-weight:        normal;
}

p {
    margin:             1.5em 0;
    line-height:        1.5em;
    font-size:          .750em;
}

h1 {
    font-size:          4.5em;
    line-height:        0.6em;
    margin:             0 0 .35em 0;
}

h1 a {
    color:              #000;
    text-decoration:    none;
}

h1 a:visited {
    color:              #000;
}

h1 a:hover {
    color:              #000;
}

h2 {
    font-size:          1.5em;
    margin:             1em 0 .2em;
    line-height:        1.1em;
}

h3 {
    font-size:          .8em;
    font-weight:        normal;
    color:              #666;
    font-family:        arial;
    margin:             .3em 0;
}

label {
    cursor:             pointer;
    display:            block;
    font-size:          .8em;
}


/* ----------------------------------------------------------------------------
    Customize Testing Tool from YAHOO
 */
.yui-log-container {
    position:           relative;
}

.yui-log {
    font-size:          100%;
}


/* ----------------------------------------------------------------------------
    Clearfix class yay!
 */
.clearfix:after {
    content:            ".";
    display:            block;
    height:             0;
    clear:              both;
    visibility:         hidden;
}

.clearfix {
    display:            inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
    height:             1%; 
}

.clearfix {
    display:            block;
}
/* End hide from IE-mac */



/* ----------------------------------------------------------------------------
    Paginator
 */
#results .paginator {
    width:              100%;
    float:              none;
    margin:             0 0 1em;
    clear:              both;
}

.paginator input {
    width:              100px;
    text-align:         center;
    padding:            2px;
    background:         #000;
    color:              #fff;
    border:             1px solid #333;
}

.paginator h2 {
    font-size: 1.2em;
    width:300px;
    padding:0 20px;
    float:left;
    margin:0;
}

.paginator h2 span {
    font-weight: bold;
    color: #3cf;
}

.next {
    float:              right;
    margin-right:       1.6em;
}

.prev {
    float:              left;
}

.disabled_input {
    color: #666 !important;
}


/* ----------------------------------------------------------------------------
    Wrapper
 */
#wrapper {
    width:              60.9375em; /* 960px; */
    margin:             1.25em;
}

/* ----------------------------------------------------------------------------
    Layout
 */
#video_playlist {
    float:              left;
    display:            inline;
    width:              22.1875em; /* 355px */
}

#search_videos {
    float:              right;
    display:            inline;
    width:              37.5em;  /* 580px */
}

/* ----------------------------------------------------------------------------
    Testing links
 */
#controller {
    background:         #222;
    color:              #fff;
    padding:            10px 20px;
    display:            none;
}

#controller a {
    color:              #fff;
    font-size:          .9em;
}

#search {
    padding:            2px 3px;
    width:              30.4em;
}

h1 {
    float:left;
}

#form {
    float:right;
    margin-left: 6.25em;
    width:35.9375em;
}

#form p {
    font-size: 1em;
    margin: 0;
}
/* ----------------------------------------------------------------------------
    Status Text & Animation
 */
#status {
    display:            none;
    margin:             0 .9em .8em 0;
    padding:            10px 12px 5px 12px;
    text-align:         left;
    font-size:          1.4em;
    border:             1px solid #ccc;
    background:         #eee;
}

#status img {
    display:            block;
    float:              left;
}

#status p {
    float:              left;
    width:              80%;
    font-size:          1em;
    margin:             0 0 .2em 1em;
    font-family:        Georgia, serif;
}


/* ----------------------------------------------------------------------------
    Player

    400     355
    ---  =  ---      
    300      X
 */
#player {
    width:              22.1875em; /* 355px */
    height:             16.6406em; /* 266.25 px */
    background:         #000;
}

.player_controls {
    width:355px;
    height:26px;
    background:#000 url(yu.png);
}

.player_controls button {
    float:left;
    width:2.4375em; /* 39px */
    width:39px;
    height:26px;
    background: url(yu.png);
    border: none;
    text-indent: -9999px;
}
#yplay:hover {
    background: url(yu.png) 0 -28px;
}

#yprev {
    background: url(yu.png) -39px 0;
}
#yprev:hover {
    background: url(yu.png) -39px -28px;
}

#ynext {
    background: url(yu.png) -78px 0;
}
#ynext:hover {
    background: url(yu.png) -78px -28px;
}

#ystop {
    background: url(yu.png) -117px 0;
}

#ystop:hover {
    background: url(yu.png) -117px -28px;
}

#yfull {
    background: url(yu.png) -156px 0;
}
#yfull:hover {

    background: url(yu.png) -156px -28px;
}

#ylist {
    background: url(yu.png) -195px 0;
}
#ylist:hover {
background: url(yu.png) -195px -28px;

}

#ypref {
    background: url(yu.png) -234px 0;
}
#ypref:hover {
    background: url(yu.png) -234px -28px;
}

/* ----------------------------------------------------------------------------
    Search Results
 */
#results {
    width:              100%;
}

#results li {
    list-style:         none;
    margin:             0 1.25em 1.25em 0;
    float:              left;
    width:              8.125em; /* 130px */

}

#results ul {
    margin:             0 auto;
}

#results li .thumb {
    cursor:             pointer;
    text-align:         center;
    height:             6.25em; /* 97px */ 
    background:         #000;
}

#results h3 {
    font-size:.8em;
}

#results p {
    margin: 0
}

#results .extreme_right {
}

#results .breaker {
    clear:              both;
    margin:             0;
    float:              none;
}

#results .info {
    margin-top:         7px;
    color:              #333;
    font-weight:        bold;
}


/* ----------------------------------------------------------------------------
    Playlist
 */
#play_list_container {
    background:         #fff;
    width:              85%;
    display:            none;
    margin:             0 0 0 1em;
}

#play_list_container h2 {
    margin-top:         .8em;
}

#play_list li strong {
    display:            block;
    width:              100%;
    border-bottom:      1px solid #ccc;
    padding-bottom:     2px;
    margin-bottom:      5px;
}

#play_list li span {
    font-weight:        bold;
    font-family:        Georgia, serif;
    color:              #f00;
}

#play_list {
}

#play_list li {
    padding:            5px 10px;
    font-family:        arial, sans-serif;
    background:         #fff;
    font-size:          .8em;
    line-height:        1.4em;
    cursor:             pointer;
    border-bottom:      1px solid #ddd;
}

#play_list .alter {
    background:         #f7f7f7;
}


